.task {
	margin: 2% 1% 1% 1%;
}

.completed {
	float: left;
	margin: 1% 0 0 -0.3%;
	width: 2.2%;
	height: 2.2%;
	cursor: pointer;
}

.notCompleted {
	float: left;
	margin: 1% 0 0 -0.3%;
	width: 2.2%;
	height: 2.2%;
	cursor: pointer;
}

.line1 {
	float: left;
	border-left: 2px solid gray;
	height: 90%;
	margin: -1% 0 0 3%;
	position: absolute;
}

.contents {
	float: left;
}

.line2 {
	float: left;
	border-left: 2px solid gray;
	height: 90%;
	margin: -5% 0 0 94%;
	position: absolute;
}

.favorites {
	float: right;
	margin: -3.5% -0.2% 0 0;	
	width: 2.5%;
	height: 2.5%;
	color: #FFDF00;
	cursor: pointer;
}

.unfavorite {
	float: right;
	margin: -3.5% -0.2% 0 0;	
	width: 2.5%;
	height: 2.5%;
	cursor: pointer;
}