.task {
	margin: 2% 1% 1% 1%;
}

.checkImage {
	float: left;
	margin-left: -1%;
	width: 4%;
	height: 4%;
}

.line1 {
	float: left;
	border-left: 2px solid gray;
	height: 90%;
	margin: -1% 0 0 3%;
	position: absolute;
}

.contents {
	float: left;
}

.line2 {
	float: left;
	border-left: 2px solid gray;
	height: 90%;
	margin: -5% 0 0 94%;
	position: absolute;
}

.favorites {
	float: right;
	margin: -3.5% -0.2% 0 0;	
	width: 2.5%;
	height: 2.5%;
	color: #FFDF00
}

.unfavorite {
	float: right;
	margin: -3.5% -0.2% 0 0;	
	width: 2.5%;
	height: 2.5%;
}