.requiredField {
	color: red;
}

.buttonGroup {
	float: right;
	margin: 5% 0 0 0;
}

.submitButton {
	margin-left: 3%;
}

.resetButton {
	margin-left: -3%;
}

.formControls {
	margin: -2% 0 2% 0;
}

.favorites {
	float: right;
	margin: -1% -0.2% 1% 0;
	width: 6%;
	height: 6%;
	color: #FFDF00;
	cursor: pointer;
}

.unfavorite {
	float: right;
	margin: -1% -0.2% 1% 0;	
	width: 6%;
	height: 6%;
	cursor: pointer;
}

.delete{
	height: 8%;
	width: 8%;
	margin-top: 4%;
	cursor: pointer;
}